# Summer Analytics 2025 - Week 1 Assignment (Solved)

*Based on the actual dataset structure (`Cars.csv`)*

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("Cars.csv")
df.head()

## Q1: What is the shape of the dataset and what are its column names?

In [ ]:
print("Shape:", df.shape)
print("Columns:", df.columns.tolist())

## Q2: Remove rows with null values (if any)

In [ ]:
df_cleaned = df.dropna()
print("Shape after dropping nulls:", df_cleaned.shape)

## Q3: Show descriptive statistics of numerical columns

In [ ]:
df_cleaned.describe()

## Q4: What is the average miles per gallon (mpg)?

In [ ]:
df_cleaned['mpg'].mean()

## Q5: Most frequently occurring car names

In [ ]:
df_cleaned['name'].value_counts().head(5)

## Q6: Show all cars with mpg greater than 30

In [ ]:
df_cleaned[df_cleaned['mpg'] > 30]

## Q7: Average horsepower grouped by number of cylinders

In [ ]:
df_cleaned.groupby('cylinders')['horsepower'].mean()

## Q8: Top 5 heaviest cars in the dataset

In [ ]:
df_cleaned.sort_values(by='weight', ascending=False).head(5)